$brand-color: #02C0CE;

* {
    padding: 0;
    margin: 0;
    outline: 0;
}

html {
    scroll-behavior: smooth;
}

.img {
    max-width: 100%;
    transition: all 0.3s ease-out 0s;
}

a:focus,
.btn:focus,
.button:focus {
    text-decoration: none;
    outline: none;
    box-shadow: none;
}

a:focus,
a:hover,
.portfolio-cat a:hover,
.footer -menu li a:hover {
    text-decoration: none;
    color: $brand-color;
}

a,
button {
    color: $brand-color;
    outline: medium none;
}

button:focus,
input:focus,
input:focus,
textarea,
textarea:focus {
    outline: 0
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0px;
}

ol,
ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

li {
    list-style: none
}

p {
    font-size: 15px;
    font-weight: normal;
    line-height: 2;
    color: #222;
    margin-bottom: 15px;
}

*::-moz-selection {
    background: #d6b161;
    color: #fff;
    text-shadow: none;
}

::-moz-selection {
    background: #444;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: #444;
    color: #fff;
    text-shadow: none;
}

*::-moz-placeholder {
    color: #555555;
    font-size: 14px;
    opacity: 1;
}

*::placeholder {
    color: #555555;
    font-size: 14px;
    opacity: 1;
}
